.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid #686a6e;
}

.infoBoxCases--green {
  color: darkgreen !important;
}

.infoBoxCases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBoxTotal {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
