body {
  background-color: #fef6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.appLeft {
  flex: 0.9;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.appStats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
